@import '../base/variables';
@import '../base/listas';

/*Estilos de ´Procesos*/

.section-procesos {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;

    .dimensiones-carrousel {
        width: 90%;
        margin: auto;
    }

    .texto-proceso {
        margin-top: 32px;

        .descripcion-proceso {
            color: $font-color;
            font-family: $font-family;
            text-align: center; 
            font-size:  nth($list: $font-size, $n: 4);
            margin-top: 8px;

            @media (max-width:500px) {
                font-size: nth($list: $font-size, $n: 5);   
            }
        }
    }
}