@import '../base/variables';
@import '../base/listas';

/*Estilos de Sobre mí*/

.section-sobremi {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
        font-size:  nth($list: $font-size, $n: 4);
        color: $font-color;
        font-family: $font-family;
        text-align: center;

        @media (max-width:500px) {
            font-size: nth($list: $font-size, $n: 5);   
        }
    }

    .foto-sobremi {
        width: 60%;
        margin-bottom: 40px;

        @media (max-width:500px) {
            width: 80%;   
        }
    }
}