/*Variables background*/
$bg-image: url("../Imagenes/Imagen-fondo2.jpg");

/*variables background footer*/
$bg-footer: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

/*Variables tipografías*/
$font-color: #FFFFFF;
$font-family: 'Poppins', sans-serif;